:root {
  --bk-color: #f5f5f5;
  --font-color: #774e2e;
  --span-color: #f37f34;
  --secondbk-color: #fff9ea;
  --chokolad-text: #673b19;

  --extrabold: 800;
  --bold: 700;
  --semibold: 600;
  --medium: 500;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bk-color);
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.img-container {
  max-width: 575px;
}

span {
  color: var(--span-color);
}

/* header */
.header {
  /* margin-top: 30px; */
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header img {
  width: 79px;
  height: 79px;
}

.header nav a {
  padding: 20px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  color: var(--font-color);
  margin-right: 50px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  line-height: 130%;
  text-align: center;
}

/* section hero */
.section-hero {
  background-image: url("../img/big-picture.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: right;

  background-size: contain;
  height: 100%;
  width: 100%;
}

.section-hero-blur {
  backdrop-filter: blur(4px);
}

.section-hero-details {
  padding: 100px 0 150px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-text {
  width: 50%;
  display: flex;
  flex-flow: column;
}

.hero-text h1 {
  color: var(--font-color);
  font-size: 110px;
  font-weight: var(--extrabold);
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-text p {
  margin-top: 40px;
  font-weight: var(--medium);
  line-height: 150%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-text .button {
  max-width: 380px;
  padding: 20px 30px;
  height: 69px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  background-color: var(--font-color);
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.hero-text button .button:visited {
  text-decoration: none;
}

.hero-text .button {
  text-decoration: none;
  color: var(--bk-color);
  line-height: 130%;
  font-weight: var(--medium);
  font-size: 20px;
}

.section-hero img {
  width: 50%;
}

/* sweets */
.section-sweets {
  padding: 150px 0;
  background-color: var(--secondbk-color);
}

.sweets-header {
  font-size: 72px;
  text-transform: uppercase;
  font-weight: var(--bold);
  color: var(--font-color);
  line-height: 110%;
  text-align: center;
}

.sweets {
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sweets-card {
  width: 370px;
  height: 462px;
  background-color: #fff;
}

.sweets-card img {
  width: 100%;
}

.sweets-card h3 {
  width: 100%;
  margin-top: 36px;
  color: var(--chokolad-text);
  text-align: center;
}

.sweets-card p {
  width: 100%;
  padding: 15px 20px 36px;
  text-align: center;
  font-weight: var(--medium);
  line-height: 150%;
  color: var(--font-color);
}

/* tips */
.section-tips {
  padding: 150px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tips-text {
  width: 535px;
  height: 635px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.tips-header {
  font-size: 72px;
  font-weight: var(--bold);
  text-transform: uppercase;
  color: var(--font-color);
  line-height: 110%;
}

.tips-text p {
  margin-top: 20px;
  color: var(--font-color);
  font-weight: var(--medium);
  line-height: 150%;
}

.tips-text h3 {
  margin-top: 60px;
  color: var(--chokolad-text);
  font-size: 24px;
  font-weight: var(--semibold);
}

.tips-text ul {
  margin-top: 20px;
  font-weight: var(--medium);
  color: var(--font-color);
  line-height: 150%;
}

.section-tips img {
  width: 50%;
}

footer {
  padding: 40px;
  background-color: var(--font-color);
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.footer img {
  width: 99px;
  height: 99px;
}

.footer p {
  font-size: 36px;
  font-weight: var(--medium);
  color: var(--bk-color);
  line-height: 130%;
}
